/* Cor de fundo */
body{
    background-color: #eee9c7;
} 

/* estilização da margem superior */
.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 40px;
    background-color: #c34366;
}

/* estilização do titulo */
h1{
    color: #e6d1ca;
    font-size: 30px;
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content:flex-start;
}

/* display para a imagem se tornar resposivel */
div.imga{
    display: flex;
}

/* localização da imagem de perfil pela div*/
.imga{
    justify-content: center;
}

/* borda da imagem de perfil */
.foto_perfil{
    border: solid 10px #c34366;
    border-radius: 100%;
}

/* caixa de texto para o nome pessoal */
.caixa{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color:#c34366;
    border-radius: 80px;
    margin-top: -10px;
    padding: 1px;
    margin-left: 400px;
    margin-right: 400px;
}

/* formatação desenho da caixa do título */
.caixa3{
    display: flex;
    background-color:#c34366;
    border-radius: 30px;
    padding-left: 30px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

/* formatação de título */
h2{
    color: #e6d1ca;
    font-size: 30px;
    display: flex;
    font-family: 'Acme', sans-serif;
}

/* formatação desenho da caixa do título */
.caixa2{
    display: flex;
    background-color:#eba2a4;
    border-radius: 30px;
    padding-left: 30px;
    margin-left: 80px;
    margin-right: 80px;
    
}

/* formatação do texto*/
p{
    color: #c34366;;
    font-size: 20px;
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content: center;
}

/* formatação da caixa desenhada de icons de redes sociais */
.caixa4{
    display: flex;
    background-color:#eba2a4;
    border-radius: 30px;
    padding-left: 30px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

/* formatação de lugar dos icones das redes sociais */
div.imgi{
    display: flex;
    justify-content: center;
}

/* Tamanho das imagens dos icones das redes sociais */
.icones{
    width: 15em;
}

/* distancia do formulario da margem esquerda e display(modelo de localização) do formulário*/
.form{
    display: flex;
    justify-content: flex-start;
    margin-left: 450px;
}

/* modelo do formulário */
input[type="text"],
input[type="email"],
textarea {
    width: 200%;
    padding: 12px 20px;
    margin: 15px;
    box-sizing: border-box;
    border-style: solid #c34366;
}

/* estilização do botão de envio */
input[type=submit] {
    width: 20%;
    padding: 12px 18px;
    box-sizing: content-box;
    background-color: #c34366;
    color: #e6d1ca;
    font-weight: 200%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/* formatação de texto no rodapé da página */
h3{
    color: #e6d1ca;
    font-size: 15px;
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content: center;
}

/* formatação de Rodapé da página */
footer{
    display: flex;
    background-color: #c34366;
    height: 100px;
    margin-top: 70px;
    padding: 16px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
}
